*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100%;
  height: 100%;
}

a, button {
  all: unset;
}

header.hero-1 {
  width: 100%;
  height: 70vh;
  background-color: #000;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../image/bg-blue.svg");
}
header.hero-1 nav {
  display: flex;
  justify-content: center;
  gap: 900px;
  align-items: center;
  width: 100%;
  height: 100px;
  color: #fff;
}
header.hero-1 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
  height: 30vh;
}
header.hero-1 div div.tag {
  margin: 0 5px;
  margin-top: 50px;
  width: 130px;
  height: 50px;
  display: flex;
  flex-direction: row;
  gap: 0;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 244px;
  padding: 4px 18px 6px 4px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  letter-spacing: -0.01em;
}
header.hero-1 div div.tag .icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 8px;
  background: rgba(63, 104, 186, 0.15);
}
header.hero-1 div h1 {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  margin-bottom: 0.8rem;
}
header.hero-1 div p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
}
header.hero-1 div div.img {
  max-width: 500px;
  height: 500px;
  position: absolute;
  animation: uppoke 6s ease-in-out infinite;
  top: 100%;
}
header.hero-1 div div.img img {
  max-width: 50rem;
}

@keyframes uppoke {
  0% {
    transform: translatey(60px);
  }
  50% {
    transform: translateY(80px);
  }
  100% {
    transform: translatey(60px);
  }
}
section.hero-section-1 {
  height: 30vh;
  background-color: #EFF3F6;
  display: flex;
  justify-content: start;
  padding: 50px;
  align-items: center;
}
section.hero-section-1 h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.9rem;
  letter-spacing: -0.01em;
  color: #2F3133;
  max-width: 26.5rem;
}

section.teste-pokemons {
  height: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
section.teste-pokemons button.poke-card {
  height: 400px;
  width: 280px;
  padding: 10px;
  border-radius: 15px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 51px -5px rgba(183, 189, 193, 0.3);
  box-shadow: 0px 10px 51px -5px rgba(183, 189, 193, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  position: relative;
  animation: fadeIn 1s forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
section.teste-pokemons button.poke-card:hover {
  -webkit-box-shadow: 0px 12px 40px -5px rgba(90, 96, 100, 0.3);
  box-shadow: 0px 12px 40px -5px rgba(90, 96, 100, 0.3);
  bottom: 2px;
}
section.teste-pokemons button.poke-card div.header-poke-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 16.5rem;
}
section.teste-pokemons button.poke-card div.header-poke-card::before {
  content: "";
  width: 16.5rem;
  height: 16.5rem;
  position: absolute;
  z-index: 1;
  border: 4em solid;
  padding-bottom: 10em;
  border-radius: 100%;
  clip-path: polygon(0px 0px, 0px 40%, 50% 40%, 50% 60%, 0px 60%, 0px 100%, 100% 100%, 100% 60%, 50% 60%, 50% 40%, 100% 40%, 100% 0px);
}
section.teste-pokemons button.poke-card div.header-poke-card::after {
  width: 5em;
  content: "";
  position: absolute;
  padding-bottom: 5em;
  border-radius: 100%;
  background-color: currentColor;
}
section.teste-pokemons button.poke-card div.header-poke-card img {
  z-index: 2;
}
section.teste-pokemons button.poke-card div.body-poke-card {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
section.teste-pokemons button.poke-card div.body-poke-card div.rec-card span {
  font-size: 14px;
  font-weight: 900;
  color: #727272;
}
section.teste-pokemons button.poke-card div.body-poke-card div.rec-card h1 {
  font-size: 18px;
}
section.teste-pokemons button.poke-card div.body-poke-card div.rec-card h1::first-letter {
  text-transform: uppercase;
}
section.teste-pokemons button.poke-card div.body-poke-card div.typeGp {
  display: flex;
  gap: 8px;
}

div.container {
  width: 100%;
  height: 100%;
  position: relative;
}
div.container div.info-poke {
  display: none; /* none */
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
  padding: 10px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding-bottom: 10%;
}
div.container div.info-poke div.modal-poke {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 5px;
  animation: fadein 1s forwards;
}
@keyframes fadein {
  0% {
    transform: translateY(800px);
  }
  100% {
    transform: translateY(0px);
  }
}
div.container div.info-poke div.modal-poke button {
  width: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8235294118);
  background-color: #FFFFFF;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 22px;
  font-weight: 700;
}
div.container div.info-poke div.modal-poke div.body-modal {
  width: 500px;
  /* height: 600px; */
  border-radius: 16px;
  background-color: #fff;
  border: 10px inset #3A65BD;
}
div.container div.info-poke div.modal-poke div.body-modal div.header-modal-interno {
  width: 100%;
  height: 180px;
  border-radius: inherit;
  background-image: url("https://i.pinimg.com/564x/a8/34/af/a834afbaa0de63124cf577735444c29c.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
  padding-top: 2px;
  border-bottom: 4px inset #3A65BD;
  overflow: hidden;
  position: relative;
}
div.container div.info-poke div.modal-poke div.body-modal div.header-modal-interno img.animationMew {
  position: absolute;
  top: 0;
  animation: mew 10s ease-in-out forwards;
}
@keyframes mew {
  0% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(-250px);
  }
}
div.container div.info-poke div.modal-poke div.body-modal div.body-modal-interno {
  padding: 10px;
  height: auto;
  padding-bottom: 20px;
}
div.container div.info-poke div.modal-poke div.body-modal div.body-modal-interno div.description-modal {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
div.container div.info-poke div.modal-poke div.body-modal div.body-modal-interno div.description-modal div span {
  font-size: 14px;
  font-weight: 900;
  color: #727272;
}
div.container div.info-poke div.modal-poke div.body-modal div.body-modal-interno div.description-modal div h1 {
  font-size: 20px;
  font-weight: 700;
}
div.container div.info-poke div.modal-poke div.body-modal div.body-modal-interno div.description-modal div h1::first-letter {
  text-transform: uppercase;
}
div.container div.info-poke div.modal-poke div.body-modal div.body-modal-interno div.description-modal div h1 span {
  margin-left: 5px;
  border-radius: 3px;
  padding: 5px;
}
div.container div.info-poke div.modal-poke div.body-modal div.body-modal-interno div.description-modal div h1 span::first-letter {
  text-transform: uppercase;
}
div.container div.info-poke div.modal-poke div.body-modal div.body-modal-interno div.typeGp {
  display: flex;
  gap: 5px;
}
div.container div.info-poke div.modal-poke div.body-modal div.body-modal-interno div.status-info {
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
div.container div.info-poke div.modal-poke div.body-modal div.body-modal-interno div.status-info h2 {
  font-size: 14px;
  font-weight: 600;
  color: #4d4c4c;
  margin-bottom: 10px;
}
div.container div.info-poke div.modal-poke div.body-modal div.body-modal-interno div.status-info div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (max-width: 382px) {
  div.container div.info-poke div.modal-poke div.body-modal div.body-modal-interno div.status-info div {
    flex-direction: column;
    gap: 5px;
  }
}
div.container div.info-poke div.modal-poke div.body-modal div.body-modal-interno div.status-info div p {
  font-size: 14px;
  font-weight: 600;
  color: #080808;
}
div.container div.info-poke div.modal-poke div.body-modal div.body-modal-interno div.status-info div p::first-letter {
  text-transform: uppercase;
}
div.container div.info-poke div.modal-poke div.body-modal div.body-modal-interno div.status-info div progress {
  width: 60%;
  accent-color: #3A65BD;
}
@media (max-width: 382px) {
  div.container div.info-poke div.modal-poke div.body-modal div.body-modal-interno div.status-info div progress {
    width: 100%;
  }
}
div.container div.info-poke div.modal-poke div.body-modal div.more-infos {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
div.container div.info-poke div.modal-poke div.body-modal div.more-infos div.abilities-poke,
div.container div.info-poke div.modal-poke div.body-modal div.more-infos div.weight-poke,
div.container div.info-poke div.modal-poke div.body-modal div.more-infos div.height-poke {
  text-align: center;
  display: flex;
  flex-direction: column;
}
div.container div.info-poke div.modal-poke div.body-modal div.more-infos div.abilities-poke p,
div.container div.info-poke div.modal-poke div.body-modal div.more-infos div.weight-poke p,
div.container div.info-poke div.modal-poke div.body-modal div.more-infos div.height-poke p {
  font-size: 13px;
  font-weight: 500;
  color: #727272;
}
div.container div.info-poke div.modal-poke div.body-modal div.more-infos div.abilities-poke span,
div.container div.info-poke div.modal-poke div.body-modal div.more-infos div.weight-poke span,
div.container div.info-poke div.modal-poke div.body-modal div.more-infos div.height-poke span {
  font-weight: 600;
  font-size: 14px;
}
div.container div.info-poke div.modal-poke div.body-modal div.more-infos div.abilities-poke span::first-letter,
div.container div.info-poke div.modal-poke div.body-modal div.more-infos div.weight-poke span::first-letter,
div.container div.info-poke div.modal-poke div.body-modal div.more-infos div.height-poke span::first-letter {
  text-transform: uppercase;
}
div.container div.info-poke div.modal-poke div.fraquezas {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
div.container div.info-poke div.modal-poke div.fraquezas h2 {
  font-size: 13px;
  font-weight: 600;
  color: #4d4c4c;
}
div.container div.info-poke div.modal-poke div.fraquezas div {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
div.container div.info-poke div.modal-poke div.fraquezas div span {
  padding: 5px;
  font-weight: 600;
  border-radius: 3px;
}
div.container div.info-poke div.modal-poke div.fraquezas div span::first-letter {
  text-transform: uppercase;
}

section.tobutton {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.tobutton button {
  border-radius: 6px;
  font-weight: 600;
  font-size: 1rem;
  padding: 15px;
  color: #3F5DB3;
  background-color: rgba(63, 93, 179, 0.1);
  cursor: pointer;
  transition: 0.8s;
}
section.tobutton button:hover {
  background-color: #3F5DB3;
  color: #FFFFFF;
}

footer.hero-1 {
  width: 100%;
  height: auto;
  padding: 15px;
  background-color: #4069BF;
  color: #FFFFFF;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 15px;
}
footer.hero-1 a, footer.hero-1 button {
  cursor: pointer;
  text-align: center;
}
footer.hero-1 a:hover, footer.hero-1 button:hover {
  text-decoration: underline;
}

@media (max-width: 550px) {
  div.modal-poke {
    width: 100% !important;
  }
  div.modal-poke div.body-modal {
    width: 100% !important;
    height: 500px !important;
    overflow: hidden;
    overflow-y: scroll;
  }
}
.bug::before, .bug::after {
  color: rgba(131, 158, 56, 0.2);
}

.dark::before, .dark::after {
  color: rgba(61, 60, 63, 0.2);
}

.dragon::before, .dragon::after {
  color: rgba(70, 105, 153, 0.2);
}

.electric::before, .electric::after {
  color: rgba(207, 190, 93, 0.2);
}

.fairy::before, .fairy::after {
  color: rgba(221, 138, 220, 0.2);
}

.fighting::before, .fighting::after {
  color: rgba(196, 77, 97, 0.2);
}

.fire::before, .fire::after {
  color: #FFEBCA;
}

.flying::before, .flying::after {
  color: rgba(158, 180, 227, 0.2);
}

.ghost::before, .ghost::after {
  color: rgba(97, 110, 183, 0.2);
}

.grass::before, .grass::after {
  color: #D6EBDC;
}

.ground::before, .ground::after {
  color: rgba(203, 119, 74, 0.2);
}

.ice::before, .ice::after {
  color: rgba(124, 197, 182, 0.2);
}

.normal::before, .normal::after {
  color: rgba(141, 141, 141, 0.2);
}

.poison::before, .poison::after {
  color: rgba(172, 106, 202, 0.2);
}

.psychic::before, .psychic::after {
  color: rgba(235, 140, 133, 0.2);
}

.rock::before, .rock::after {
  color: rgba(134, 203, 190, 0.2);
}

.steel::before, .steel::after {
  color: rgba(101, 148, 161, 0.2);
}

.water::before, .water::after {
  color: #DFECF5;
}

.sp-bug {
  background-color: rgba(156, 186, 72, 0.1);
  color: #9BBA48 !important;
}

.sp-dark {
  background-color: rgba(89, 87, 97, 0.1);
  color: #595761 !important;
}

.sp-dragon {
  background-color: rgba(44, 106, 193, 0.1);
  color: #2C6AC1 !important;
}

.sp-electric {
  background-color: rgba(245, 209, 5, 0.1);
  color: #D4BC34 !important;
}

.sp-fairy {
  background-color: rgba(226, 150, 225, 0.1);
  color: #E296E1 !important;
}

.sp-fighting {
  background-color: rgba(196, 79, 99, 0.24);
  color: #C44D61 !important;
}

.sp-fire {
  background-color: rgba(233, 99, 3, 0.1);
  color: #E96303 !important;
}

.sp-flying {
  background-color: rgba(117, 140, 189, 0.1);
  color: #758CBD !important;
}

.sp-ghost {
  background-color: rgba(97, 110, 183, 0.1);
  color: #616EB7 !important;
}

.sp-grass {
  background-color: rgba(114, 184, 97, 0.1);
  color: #73B861 !important;
}

.sp-ground {
  background-color: rgba(206, 128, 86, 0.1);
  color: #CE8056 !important;
}

.sp-ice {
  background-color: rgba(113, 186, 171, 0.1);
  color: #71BAAC !important;
}

.sp-normal {
  background-color: rgba(144, 144, 144, 0.1);
  color: #909090 !important;
}

.sp-poison {
  background-color: rgba(172, 106, 202, 0.1);
  color: #AC6ACA !important;
}

.sp-psychic {
  background-color: rgba(235, 139, 132, 0.1);
  color: #EB8B85 !important;
}

.sp-rock {
  background-color: rgba(132, 190, 179, 0.1);
  color: #84BEB3 !important;
}

.sp-steel {
  background-color: rgba(101, 148, 161, 0.1);
  color: #6594A1 !important;
}

.sp-water {
  background-color: rgba(79, 120, 190, 0.1);
  color: #4F77BE !important;
}

@media (max-width: 1880px) {
  div.img img {
    width: 22rem;
    height: auto;
  }
}
@media (max-width: 1124px) {
  header.hero-1 nav {
    gap: 70%;
  }
}
@media (max-width: 768px) {
  header.hero-1 nav {
    padding-left: 30px;
    justify-content: start;
  }
  header.hero-1 nav p {
    display: none;
  }
}
@media (max-width: 363px) {
  div.img img {
    width: 320px;
    height: auto;
  }
}

/*# sourceMappingURL=style.css.map */
